{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle visite</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
            <a href="{{ path('travel_index') }}">Liste des visites</a>
{% endblock %}
