{% extends 'base.html.twig' %}

{% block body %}
    <h1>Nouvelle Ville</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Ajouter" />
    {{ form_end(form) }}
            <a href="{{ path('city_index') }}">Liste des villes</a>
{% endblock %}
